.projects_wrapper {
  margin: 20px;
}

.projects_header_block {
  padding-bottom: 10px;
}

.projects_title_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects_search {
  width: 300px;
}

.project_add_wrapper {
  background: white;
  border-radius: 8px;
  padding: 30px;

  .project_add_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  .project_add_button {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}