.header {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 20px;
}
.header_title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgba(54, 136, 234, 1)
}

.header_navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  div {
    display: inherit;
    gap: 6px;
    }
}

.header_navbar_profile_block {
  display: flex;
  align-items: center;
  gap: 20px;
  img {
    border-radius: 100%;
  }
}