.file_dropzone_wrapper {
  display: flex;
  flex-direction: column;
}

.file_dropzone_title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #3688EA;
  margin-bottom: 10px;
  //margin-right: 20px;
}

.file_dropzone_drag_active {
  border: 2px solid #3688EA;
}

.file_dropzone_drag {
  display: flex;
  align-items: center;
  gap: 10px;
}

.files_block {
  max-width: 768px;
  margin-top: 10px;
  padding: 0 0 10px 0;
  border: 2px solid rgba(243, 244, 248, 1);
  border-radius: 10px;
  background: rgba(243, 244, 248, 1);
  display: flex;
  flex-wrap: wrap;
}

.files_wrapper {
  border-bottom: 1px solid #3688EA;
  margin: 0 20px 0 20px;
  //margin: 0 auto;
}

.files_curr {
  margin: 10px 0 10px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #3688EA;
  font-weight: 500;
  cursor: pointer;
}

.clip_icon {
  cursor: pointer;
}

.file_dropzone_error {
  color: rgb(239 68 68);
  font-size: 0.75rem;
  line-height: 1rem;
}